python-dotenv
fastapi[standard]
sqlalchemy
pydantic
alembic
pydantic-settings
asyncpg
aiosqlite
passlib>=1.7.4
bcrypt==3.2.2
pytest
httpx
pytest-asyncio
pytest-flake8
python-jose[cryptography]
fastapi-mail
stripe